@page
<h1>Регистрация</h1>
<p>Введите свою почту</p>
@model PixlparkTest.Pages.GetMailModel
@{
}

<div class="container">
    <form method="POST">
        <label for="mail">E-mail</label>
        <input type="email" id="mail" name="e-mail">
        <input type="submit" value="Next">
    </form>
</div>